
html, body {
    min-width: 1146px;
    min-height: 2416px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    text-align: left;
    color: rgb(255, 255, 255);

    background-color: rgb(132, 157, 143);
    background-size: 1200px auto;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    display: block;
    padding-left: 22px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 11px;

    font: inherit;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

    background: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 23px;
}

.button:hover {
    color: rgb(50, 50, 50);

    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.button:focus,
.button:active {
    color: rgb(50, 50, 50);

    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 2.3%;
}

/*шапка*/

.main-header {
    display: flex;
    flex-direction: column;
    align-items: right;

    margin-bottom: 0px;

    background-color: rgb(132, 157, 143);
}

.main-header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 2px;
}

.main-header-logo {
    width: 154px;
    height: 63px;
    margin-right: 24px;
    margin-top: 23px;
    /*--margin-bottom--*/

    background-image: url("img/logo.svg");
}

.secondary-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    margin: 0;
    margin-top: 31px;
    /*margin-bottom: ?px;*/
    padding: 0;

    list-style: none;

    min-height: 16px;
}

.secondary-navigation a {
    display: block;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: underline;
}

/*каталог*/

.main-navigation-link {
    position: relative;

    margin-right: 27px;
}

.main-navigation-link:focus,
.main-navigation-link:hover {
    width: 87px;

    color: rgb(50, 50, 50);

    background-color: rgb(248, 247, 244);
}

.main-navigation-link:active {
    width: 87px;
    color: rgb(50, 50, 50);

    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
}

.main-navigation-link .active {
    color: rgb(255, 255, 255);
    background-color: rgb(206, 112, 88);
    box-shadow: none;
}

.about-the-company {
    margin-left: 29px;
}

.sub-navigation-list {
    position: absolute;

    list-style: none;
}

.sub-navigation-list a {
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: rgb(50, 50, 50);

    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    left: 359px;
    top: 282px;
    width: 143px;
}

.sub-navigation-header {
    font-weight: 700;
}

.sub-navigation-list a:hover,
.sub-navigation-list a:focus {
    background: rgb(251, 222, 215);
}

.sub-navigation-list a:active {
    background: rgb(246, 181, 165);
}

/*когда находимся на странице, на которую ведет ссылка*/
.sub-navigation-list .active a {
    color: rgb(255, 255, 255);

    background: rgb(208, 112, 88);
}

/*--Пользовательская навигация*/

.user-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0;
    margin-left: auto;
    margin-top: 23px;
    margin-bottom: 19px;
    padding: 0;

    list-style: none;

    min-height: 32px;
}

/*форма поиска*/

.button-search {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 5px;
    margin-right: 4px;
    width: 33px;
    height: 33px;

    background-color: rgb(161, 180, 169);
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 50%;
}

.button-search:hover,
.button-search:focus {
    fill: rgb (50, 50, 50);
    background-color: rgb(248, 247, 244);
}

/*--Вопрос: как сделать лупу черной (при наведении)? Сделать ее прозрачной и задать границу с нулевой прозрачностью черго цвета? Нужен ли здесь псевдоэлемент (и какой)?--*/

.search:hover,
.search:focus {
    font-size: 14px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: left;

    background: url(/*?*/);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    left: 64px;
    top: 766px;
    width: 313px;
    height: 46px;
}

.search:hover .search-field,
.search:focus .search-field {
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 51px;
    top: 748px;
    width: 341px;
    height: 84px;
}

.search-field input {
    box-sizing: border-box;
    width: 311px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 14px;

    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(153, 153, 153);
    text-align: left;

    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
}

.search-field input:hover,
.search-field input:focus {
    border-width: 2px;
    border-color: rgb(154, 154, 154);
    opacity: 0.52;
    left: 857px;
    top: 2542px;
    width: 267px;
    height: 44px;
  }

  .search-field input:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(50, 50, 50);
    text-align: left;

    border-width: 2px;
    border-color: rgb(211, 211, 210);
    opacity: 0.52;
    left: 857px;
    top: 2606px;
    width: 267px;
    height: 44px;
 }

/*форма входа*/

.enter a {
    position: relative;
    width: 93px;
    margin-right: 5px;
    padding-left: 44px;
    padding-right: 17px;
    padding-top: 9px;
    padding-bottom: 8px;

    font-size: 14px;
    line-height: 16px;
}

.enter a:hover,
.enter a:focus {
    background-color: rgb(248, 247, 244);
    background-image: url(/*?*/);
}

.enter a:hover .login-form,
.enter a:focus .login-form {
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 484px;
    top: 748px;
    width: 277px;
    height: 214px;
}

.enter-field input[type="email"],
.enter-field input[type="password"] {
    position: absolute;
    margin-left: 20px;
    margin-right: 17px;
    margin-tio: 20px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 14px;

    font-size: 16px;
    line-height: 24px;
    color: rgb(50, 50, 50);
    text-align: left;

    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    left: 64px;
    top: 766px;
    width: 313px;
    height: 46px;
}

.enter-field input[type="email"] {
    margin-bottom: 20px;
}

.enter-field input:hover,
.enter-field input:focus {
    border-width: 2px;
    border-color: rgb(154, 154, 154);
    opacity: 0.52;
    left: 857px;
    top: 2542px;
    width: 267px;
    height: 44px;
  }

.enter-field input:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(50, 50, 50);
    text-align: left;

    border-width: 2px;
    border-color: rgb(211, 211, 210);
    opacity: 0.52;
    left: 857px;
    top: 2606px;
    width: 267px;
    height: 44px;
}

/*.enter a:hover .login-form placeholder,
.enter a:focus .login-form placeholder {
    font-size: 16px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: left;
}*/

.enter a::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 20px;
    height: 19px;

    color: rgb(255, 255, 255);

    background-image: url("img/entrance.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.enter a:hover::before,
.enter a:focus::before {
    color: rgb(50; 50; 50);
}

.login-form a {
    font-size: 14px;
    line-height: 16px;
    color: rgb(50, 50, 50)
    text-decoration: underline;
}

.login-form a:hover,
.login-form a:focus {
    color: rgb(232, 77, 55);
}

/*Корзина*/

.basket a {
    position: relative;
    width: 117px;
    padding-left: 45px;
    padding-right: 34px;
    padding-top: 9px;
    padding-bottom: 8px;

    font-size: 14px;
    line-height: 16px;

    background-color: rgb(157, 177, 165);
    opacity: 0.2;
    background-image: url("img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket:focus,
.basket:active {
    color: rgb(50, 50, 50);

    background-color: rgb(248, 247, 244);
    background-image: url("img/basket-red.svg");
}

.basket:focus .basket-table,
.basket:active .basket-table {
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 870px;
    top: 748px;
    width: 539px;
    height: 242px;
}

.basket-table .close {
    background-image: url("img/cross-small.svg");
}

.basket-table .basket-table-item-1 {
    background-image: url("img/bascket-ice-cream-1.png");
}

.basket-table .basket-table-item-2 {
    background-image: url("img/bascket-ice-cream-2.png");
}

.basket-table td {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(50, 50, 50);
    text-align: left;
}

.basket-table span {
    color: rgb(161, 180, 169)
}

/*разделитель*/

/*телефон и часы работы*/

.basket a::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 20px;

    background-image: url("img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket a:hover::before,
.basket a:focus::before {
    background-image: url("img/basket-red.svg");
}

.header-time-phone-wrapper {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    width: 267px;
    margin: 0;
    padding: 0;

    min-height: 38px;
}

.header-time-phone span {
    font-size: 22px;
    line-height: 24px;
}

/*слайдер*/

.site-wrapper {
    min-width: 940px;
    background-color: rgb(132, 157, 143);
    background-image: url("C:/Users/пк/Documents/GitHub/572647-gllacy/img/ice-cream-slider-1.png");
    background-repeat: no-repeat;
    background-position: top center;

    transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
    content: "";

    visibility: hidden;
}

.site-wrapper::before {
    background-image: url("img/ice-cream-slider-2.png");
}

.site-wrapper::after {
    background-image: url("img/ice-cream-slider-3.png");
}

.slider {
    position: relative;

    padding-top: 321px;

    text-align: center;
    color: rgb(255, 255, 255);
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slide {
    display: none;
}

.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}

.button {
    display: inline-block;
    padding: 12px 44px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: rgb(242, 104, 67);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;

    font-size: 0;
}

.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
    background-color: rgb(132, 157, 143);
    background-image: url("img/ice-cream-slider-1.png");
}

#product-2:checked ~ .site-wrapper {
    background-color: rgb(213, 17, 65);
    background-image: url("img/ice-cream-slider-2.png");
}

#product-3:checked ~ .site-wrapper {
    background-color: rgb(157, 139, 132);
    background-image: url("img/ice-cream-slider-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
    display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
    background-color: rgb(255, 255, 255);
}

/*малинки-шоколадки*/

.action-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 19px;
    padding-bottom: 24px;
    padding-left: 20px;
    padding-right: 21px;

    font-weight: 700;
    color: rgb(50, 50, 50);

    border-radius: 14px;
}

.action-item h2 {
    margin: 0;
    margin-bottom: 15px;

    font-size: 35px;
    line-height: 41px;
}

.action-item p {
    margin: 0;

    font-size: 18px;
    line-height: 22px;
}

.action-item-raspberry,
.action-item-chocolate {
    position: relative;
    width: 560px;
    min-height: 229px;
    padding-top: 19px;
    padding-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;

    color: rgb(255, 255, 255);

    background-size: 561px 229px;
    border-radius: 14px;
}

.action-item-raspberry {
    margin-right: 26px;

    background-color: rgb(145, 1, 29);
    background-image: url("img/raspberry.png");
}

.action-item-chocolate {
    background-color: rgb(69, 42, 28);
    background-image: url("img/chocolate.png");
}

.action-item-raspberry a,
.action-item-chocolate a {
    position: absolute;
    right: 21px;
    bottom: 23px;

    font-size: 18px;
    line-height: 22px;
}

/*мороженое, хиты*/

.hit-items ul {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 39px;
    padding: 0;

    list-style: none;

    font-size: 0;

    background-color: rgb(165, 183, 172);
}

.hit-item {
    positioin: relative;
    display: inline-block;
    width: 267px;
    margin-right: 26px;
    margin-bottom: 37px;
    border: none;
}

.hit-image {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 60px;
    height: 60px;
    z-index: 2;

    background-image: url("img/hit.svg");
}

.hit-item-price {
    display: inline-block;
    min-height: 43px;
    margin-bottom: 28px;
    margin-left: 0;

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
    color: rgb(255, 255, 255);
}

.hit-item-price span::before {
    content: "";

    position: absolute;
    top: -9px;
    left: 17px;

    width: 26px;
    height: 31px;

    color: rgb(255, 255, 255);

    background-image: url("img/ruble.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.hit-items a {
    display: inline-block;
    margin-bottom: 37px;

    font-size: 16px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
}

.hit-item .item-glance {
    position:absolute;
    top: 0;
    left: 0;
    width: 221px;
    height: 367px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
}

.item-glance a {
    display: block;
    width: 195px;
    margin:0 auto;
    margin-bottom: 16px;
    padding:14px 12px;
    color: rgb(255, 255, 255);
    font-size:24px;
    font-weight: 700;
    line-height:18px;
    border-radius: 16px;
}

.hit-item .item-glance {
    display: none;
}

.hit-item:hover .item-glance,
.hit-item:focus .item-glance {
    display: block;
}

/*вафля*/

.production {
    display: flex;
    flex-direction: column;

    width: 1146px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    min-height: 306px;

    align-items: center;
    color: rgb(50, 50, 50);
    text-align: left;
    font-weight: 400;

    background-image: url("img/waffle.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgb(234, 222, 195);
}

.production ul {
    list-style: none;
}

.production .lead {
    display: block;
    width: 1100px;
    margin: 0;
    margin-top: 27px;
    margin-bottom: 7px;
    margin-left: 21px;

    font-size: 24px;
    line-height: 30px;
}

.production li {
    font-size: 22px;
    line-height: 16px;
}

.production-columns {
    display: flex;
    justify-content: space-between;
}

.production-column-left {
    width: 540px;
    min-height: 250px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 22px;

    min-height: 250px;
}

.production-item-top-left {
    position: relative;
    margin-bottom: 22px;
}

.production-item-top-left::before {
    content: "";

    position: absolute;
    right: 58px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img/ice-cream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.production-item-bottom-left {
    position: relative;
}

.production-item-bottom-left::before {
    content: "";

    position: absolute;

    right: 57px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img/eco.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.production-column-right {
    width: 560px;
    min-height: 250px;
    margin: 0;
    margin-left: 30px;
    padding: 0;

    min-height: 250px;
}

.production-item-top-right {
    position: relative;
    margin-bottom: 22px;
}

.production-item-top-right::before {
    content: "";

    position: absolute;
    right: 57px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img/cow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.production-item-bottom-right {
    position: relative;
    margin-bottom: 22px;
}

.production-item-bottom-right::before {
    content: "";

    position: absolute;

    right: 57px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img/thermometer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*новости блога*/

.news {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 40px;

    color: rgb(50, 50, 50);
    background-color: rgb(132, 157, 143);
}

.blog-news,
.subscription {
    width: 560px;
    border-radius: 14px;

    color: rgb(50, 50, 50);

    min-height: 220px;
}

.blog-news {
    position: relative;
    margin-right: 26px;
    padding-top: 24px;
    padding-left: 20px;

    background-color: rgb(255, 255, 255);
    background-image: url("C:/Users/пк/Documents/GitHub/572647-gllacy/img/strawberry.png");
    background-repeat: no-repeat;
}

.blog-news h2 {
    margin: 0;
    margin-bottom: 5px;

    font-size: 16px;
    line-height: 22px;
}

.blog-news a {
    text-align: left;
    marign-right: 26px;
    margin-bottom: 41px;

    color: rgb(50, 50, 50);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus {
    color: rgb(232, 77, 55);
}

/*подписка*/

.subscription {
    position: relative;
    padding-top: 35px;
    padding-left: 27px;
    padding-right: 26px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    background-image: url("img/bg-post.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(248, 247, 244);
}

.subscription::/*--?--*/ {
    position: center;
    margin-bottom: 5px;
    width: 549px;

    background-color: rgb(248, 247, 244);
    border-radius: 10px;
    z-index: 1;
}

.subscriprion p {
    margin: 0;
    margin-left: 27px;
    margin-bottom: 35px;

    z-index: 2;
}

.subscription input {
    position: absolute;
    margin-bottom: 40px;
    margin-right: 10px;
    padding-left: 14px;
    padding-top: 10px;
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    font-weight: 400;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
    z-index: 2;
}

.subscription input:hover {
    border-width: 2px;
    border-color: rgb(154, 154, 154);
}

.subscription input: focus;
.subscription input: active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(50, 50, 50);
    text-align: left;

    border-width: 2px;
    border-color: rgb(46, 136, 228);
}

.subscription button {
    position: absolute;
    margin-right: 25px;
    margin-bottom: 38px;
    min-width: 131px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border-radius: 22px;
    z-index: 2;
}

/*карта и контакты*/

.location {
    display: flex;
    justify-content: space-between;
    padding-left: 266px;
    padding-right: 27px;
    width: 1200px;
    min-height: 430px;

    color: rgb(50, 50, 50);

    background-image: url ("img/pin.svg"), url("img/map.png");
    background-size: cover, 80px;
    background-position: 266px 138px, 100%;
    background-repeat: no-repeat;
    background-color: rgb(132, 157, 143);
}

.location-contacts {
    margin-bottom: 62px;
    padding-right: 26px;
    padding-left: 24px;
    padding-bottom: 28px;
    width: 302px;

    min-height: 305px;

    background-color: rgb(255, 255, 255);
}

 .location-contacts p {
    margin: 0;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: url(50, 50, 50);
}

.location span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.address {
    margin-bottom: 21px;
}

.address p {
    margin: 0;
    margin-bottom: 3px;
}

.contacts {
    position: relative;
    margin-bottom: 24px;
}

.contacts span {
    margin-top: 6px;
    margin-bottom: 3px;
}

.location button {
    position: absolute;
    width: 253px;
    bottom: 0;
    right: 0;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 22px;
}

/*форма обратной связи*/

.location a:active .feedback {
    background-color: rgb(248, 247, 244);

    border-radius: 10px;
    background-color: rgb(248, 247, 244);
    position: absolute;
    left: 363px;
    top: 337px;
    width: 478px;
    height: 443px;
}

.feedback h2 {
    margin: 0;

    font-size: 24px;
    line-height: 28px;
    color: rgb(50, 50, 50);
}

.feedback .input {
    font-size: 16px;
    line-height: 24px;
    color: rgb(153, 153, 153);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    left: 857px;
    top: 2478px;
    width: 269px;
    height: 46px;
}

.feedback input:hover,
.feedback input:focus {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(50, 50, 50);

    border-width: 2px;
    border-color: rgb(154, 154, 154);
    top: 2542px;
    width: 267px;
    height: 44px;
}

.feedback input:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(50, 50, 50);
    text-align: left;
}

.feedback .button {
    left: 677px;
    top: 709px;
    min-width: 139px;
}

/*подвал*/

.page-footer {
    margin: 0;
    padding: 0;

    background-color: rgb(132, 157, 143);
}

.inner-page .page-footer {
    margin-top: 30px;
    border-bottom: 1px solid white;
}

.page-footer .container {
    display: flex;
}

.footer-social {
    width: 267px;

    text-align: center;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 185px;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    fill: rgba(255, 255, 255, 0.502);
}

.social-button:hover path,
.social-button:focus path{
    fill: rgba(255, 255, 255, 0.702);
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.702);
}
/*Чтобы сделать эту кнопку, надо все-таки скачивать картинку из фотошопа и делать обводку в css*/

.footer-info ul {
    display: flex;
    width: 453px;
    align-items: center;
    justify-content: left;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    list-style: none;
}

.footer-info li {
    margin-bottom: 8px;
}

.footer-info a {
    font-size: 13px;
    line-height: 28px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.footer-info a:hover,
.footer-info a:focus {
    color: rgb(255, 188, 158);
}

.footer-column-left {
    padding-left: 22px;
}

.footer-column-left {
    padding-left: 5px;
}

.footer-info span {
    position: relative;

    font-weight: 700;
}

.footer-info span::before {
    content: "";
    position: absolute;
    left: -22px;
    top: -1;

    width: 15px;
    height: 13px;

    background-image: url("img/heart.svg");
    background-repeat: no-repeat;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 185px;
}

.footer-social ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 38px;
    height: 38px;
}

.footer-copyright {
    width: 267px;
    margin: 0;
    margin-bottom: 23px;
    margin-left: 26px;
    padding: 0;

    min-height: 60px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

    background-image: url("img/logo-htmlacademy.svg");
}

.footer-copyright a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    color: rgb(255, 188, 158);
}

/*КАТАЛОГ*/

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;

    list-style: none;

    background-color: rgb(155, 175, 164);
}

.breadcrumbs li {
    position: relative;
    margin-right: 22px;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "/00BB";

    position: absolute;
    top: 6px;
    right: -14px;

    width: 6px;
    height: 6px;

    color: rgb(255, 255, 255);
 }

.breadcrumbs-current {
    text-decoration: none;
}

.breadcrumbs a {
    font-size: 14px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a.active {
    color: rgb(255, 188, 158);
}

.breadcrumbs-current {
    text-decoration: none;
}

.breadcrumbs-current::after {
  display: none;
}

.page-title {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    font-size: 35px;
    line-height: 41px;
    font-weight: 500;
}

/*фильтры*/

.filters {
    display: flex;
    flex-wrap: wrap;
    width: 879px;
    margin: 0;
    margin-bottom: 40px;

    min-height: 130px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 17px;

    line-height: 18px;
    text-transform: lowercase;

    border: none;
}

.filter fieldset:nth-child(3) {
    margin-bottom: 40px;
}

.filter legend {
    margin-bottom: 6px;

    font-size: 14px;
    line-height: 16px;
}

.filter label {
    margin-bottom: 7px;

    font-size: 16px;
    line-height: 18px;
    text-transform: lowercase;
    user-select: none;
}

/*--Сортировка--*/

.sorting-options {
    padding-left: 16px;

    text-align: center;
    vertical-align: center;

    background-color: rgba(248, 247, 244, 0.2);
    background-size: 193px auto;
    border-radius: 14px;
    border: none;
}

.sorting-options label {
    position: relative;

    display: block;
    padding-left: 16px;
}

.sorting-options label::after {
    content: "";

    position: absolute;
    top: 0px;
    right: -36px;

    width: 11px;
    height: 10px;

    color: rgb(255, 255, 255);
    background-image: url("img/select-arrow.svg");
 }

.sorting-options:hover,
.sorting-options:focus,
.sorting-options label::after:hover,
.sorting-options label::after:focus, {
    background-color: rgb(50, 50, 50);
}

/*--Цена--*/

.filter-price {
    margin: 0;
    margin-bottom: 28px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    padding-left: 22px;
    width: 219px;

    border: none;
 }

.range-filter {
     width: 219px;
     margin-top: 6px;
 }

.filter-price label {
    display: block;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.range-controls {
    position: relative;

    height: 20px;
    margin-bottom: 38px;
    padding-top: 16px;
    padding-right: 21px;
    padding-left: 21px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.range-controls .scale {
    height: 4px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 67%;
    height: 4px;

    background-color: rgb(248, 247, 244);
}

.range-controls .range-toggle {
    position: absolute;
    top: 8px;
    left: 0;

    width: 20px;
    height: 20px;
    padding: 0;

    background-image: url("img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.range-controls .range-toggle:hover {
    cursor: pointer;
}

.range-toggle-min {
    left: 33px;
}

.range-toggle-max {
  left: 131;
}

.filter-price button:hover {
    cursor: pointer;
    background-image: url("img/filter-button.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*--Жирность--*/

.filter-fatness {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;

    background-color: rgba(255, 255, 255, 0.2);
}

.filter-fatness ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-fatness label {
    display: block;
    position: relative;
}

.filter-fatness filter-option {
    margin-bottom: 10px;
    padding-left: 50px;

    background-color: rgba(255, 255, 255, 0.2);
}

.filter-fatness filter-option:first-child {
    padding-left: 46px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 1;

    width: 22px;
    height: 22px;

    background-image: url("img/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.filter-input-checkbox::before:hover,
.filter-input-checkbox::before:focus {
    background-color: rgb(255, 255, 255);
}

.filter-input-checkbox::before:disabled {
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -31px;
    top: 1;

    width: 22px;
    height: 22px;

    background-image: url("img/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(255, 255, 255, 0.1);
 }


.filter-input-checkbox::after:hover,
.filter-input-checkbox::after:focus {
    background-color: rgb(255, 255, 255);
}

.filter-input-checkbox::after:disabled {
    background-color: rgba(255, 255, 255, 0.2);
}

/*--Наполнитель--*/

.filter-filler {
    display: flex;
    flex-wrap: wrap;
    padding-left: 16px;

    background-color: rgba(255, 255, 255, 0.2);
}

.filter-filler ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-filler label {
    display: block;
    position: relative;
}

.filter-fatness filter-option {
    margin-bottom: 19px;
    padding-left: 54px;

    background-color: rgba(255, 255, 255, 0.2);
}

.filter-fatness filter-option:first-child {
    padding-left: 48px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -31px;
    top: 6;

    width: 20px;
    height: 20px;

    background-image: url("img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(255, 255, 255, 0.1);
}

.filter-input-checkbox::before:hover,
.filter-input-checkbox::before:focus {
    background-color: rgb(255, 255, 255);
}

.filter-input-checkbox::before:disabled {
    background-color: rgba(255, 255, 255, 0.2);
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    left: -31px;
    top: 6;

    width: 23px;
    height: 20px;

    background-image: url("img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgba(255, 255, 255, 0.1);
 }


.filter-input-checkbox::after:hover,
.filter-input-checkbox::after:focus {
    background-color: rgb(255, 255, 255);
}

.filter-input-checkbox::after:disabled {
    background-color: rgba(255, 255, 255, 0.2);
}

/*--Кнопка--*/

.filter-button {
    display: inline-block;
    padding-left: 29px;
    padding-top: 12px;
    padding-bottom: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: rgba(255, 255, 255);
    vertical-align: middle;
    text-decoration: none;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.188);
}

.filter-button:hover,
.filter-button:focus {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  border: none;
}

.filter-button:active {
   background-color: rgb(234, 234, 234);
   box-shadow: inset;
}

/*Товары*/

.catalog {
    width: 1146px;
}

.catalog h2 {
    maigin: 0;
    padding: 0;
}

 .catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 82px;

    list-style: none;

    *font-size: 0;
    color: rgb(255, 255, 255);
}

.catalog-item {
    *position: relative;
    display: inline-block;

    width: 267px;
    margin-bottom: 37px;
    margin-right: 26px;

    border-color: rgb(132, 157, 143);
}

.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-list a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


 .catalog-list h3 {
    margin-top: 322px;
    margin-bottom: 37px;
    margin-left: 39px;
    margin-right: 39px;

    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.catalog-list h3:hover,
.catalog-list h3:focus {
    color: rgb(255, 188, 158);
}

.catalog-item-image {
    width: 267px;
    height: 267px;
    margin: 0;
}

.catalog-item-price {
    display: flex;
    margin: 0;
    margin-bottom: 29px;

    color: rgba(255, 255, 255);
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
    position: relative;
    margin-left: 37px;
    margin-bottom: 28px;

    font-size: 30px;
}

.catalog-item-price span::before {
    content: "";

    position: absolute;
    top: -11px;
    left: 30px;

    width: 26px;
    height: 31px;

    color: rgb(255, 255, 255);

    background-image: url("img/ruble.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.catalog-list a:hover,
.catalog-list a:focus {
    color: rgb(255, 188, 158);
}

.catalog-item .catalog-item-glance {
    position:absolute;
    top: 0;
    left: 0;
    width: 221px;
    height: 367px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 9px;
    padding-bottom: 16px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
}

.catalog-item-glance a {
    display: block;
    width: 195px;
    margin:0 auto;
    margin-bottom: 16px;
    padding:14px 12px;
    color: rgb(255, 255, 255);
    font-size:24px;
    font-weight: 700;
    line-height:18px;
    border-radius: 16px;
}

.catalog-item .catalog-item-glance {
    display: none;
}

.catalog-item:hover .catalog-item-glance,
.catalog-item:focus .catalog-item-glance {
    display: block;
}

.hit-items:hover button,
.hit-items:focus button {
    position: absolute;
    left: 412px;
    top: 2055px;
    min-width: 193px;
    height: 44px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-top: 64px;
    padding: 0;

    list-style: none;

    font-size: 16px;
    line-height: 18px;
    color: rgb(255, 255, 255);
}

.pagination-item {
    margin-right: 21px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;

    color: rgb(255, 255, 255);
}

.pagination-item a:hover,
.pagination-item a:focus {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    background-size: 26px;
    cursor: pointer;
}

.pagination-item a:active;
.pagination-item-current a {
    color: rgb(50, 50, 50);

    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    background-size: 26px;
}
