
html, body {
    min-width: 1146px;
    min-height: 2416px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500px </*medium*/>;
    text-align: left;
    color: rgb(255, 255, 255);

    background-color: rgb(132, 157, 143);
    background-size: 1200px auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font-family: inherit;

    font-size: 18px;
    line-height: 24px;
    text-align: center;
    font-weight: 700px;
    color: rgb(255, 255, 255);

    background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover {
    color: rgb(50, 50, 50);

    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.button:focus,
.button:active {
    color: rgb(50, 50, 50);

    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 2.3%;
}

/*шапка*/

.main-header {
    display: flex;
    flex-direction: column;
    align-items: right;

    margin-bottom: 530px;

    background-color: transparent;

    /*временно для сетки*/
    min-height: 113px;
}

.main-header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1146px;
    margin-bottom: 2px;
}

.main-header-logo {
    width: 154px;
    height: 63px;
    margin-right: 24px;
    margin-top: 23px;
    /*--margin-bottom--*/

    background-image: url("img\logo.svg");
}

.secondary-navigation {
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
    margin: 0;
    margin-top: 31px;
    /*margin-bottom: ?px;*/
    padding: 0;

    list-style: none;

    min-height: 16px;
}

.secondary-navigation a {
    display: block;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700px;
    text-decoration: underline;
}

/*каталог*/

.main-navigation-link {
    position: relative;

    padding-right: 27px;
}

.main-navigation-link:focus,
.main-navigation-link:hover {
    width: 87px;

    color: rgb(50, 50, 50);

    background-color: rgb(248, 247, 244);
}

.main-navigation-link:active {
    width: 87px;
    color: rgb(50, 50, 50);

    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
}

.main-navigation-link .active {
    color: rgb(255, 255, 255);
    background-color: rgb(206, 112, 88);
    box-shadow: none;
}

.about-the-company {
    padding-left: 29px;
    padding-right: 33px;
}

.sub-navigation-list {
    list-style: none;
    position: absolute;
}

.sub-navigation-list a {
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: rgb(50, 50, 50);

    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    left: 359px;
    top: 282px;
    width: 143px;
}

.sub-navigation-header {
    font-weight: 700px;
}

.sub-navigation-list a:hover,
.sub-navigation-list a:focus {
    background: rgb(251, 222, 215);
}

.sub-navigation-list a:active {
    background: rgb(246, 181, 165);
}

/*когда находимся на странице, на которую ведет ссылка*/
.sub-navigation-list .active a {
    color: rgb(255, 255, 255);

    background: rgb(208, 112, 88);
}

/*--Пользовательская навигация*/

.user-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0;
    margin-left: 319px;
    margin-top: 23px;
    margin-bottom: 19px;
    padding: 0;

    list-style: none;

    min-height: 32px;
}

/*форма поиска*/

.search a {
    position: relative;
    display: block;

    padding-right: 10px;
    width: 33px;

    background-color: rgb(161, 180, 169);
    background-image: url("img\loupe.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border-radius: 50%;
}

/*--Вопрос: как сделать лупу черной (при наведении)? Нужен ли здесь псевдоэлемент (и какой)?--*/

.search:hover,
.search:focus {
    font-size: 14px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: left;

    background: url(/*?*/);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    left: 64px;
    top: 766px;
    width: 313px;
    height: 46px;
}

.search:hover .search-field,
.search:focus .search-field {
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 51px;
    top: 748px;
    width: 341px;
    height: 84px;
}

.search-field input {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400px;
    color: rgb(153, 153, 153);
    text-align: left;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    left: 64px;
    top: 766px;
    width: 313px;
    height: 46px;
}

/*.button:hover .search-field placeholder,
.button:focus .search-field placeholder {
    font-size: 16px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: left;
}*/

.search-field input:hover,
.search-field input:focus {
    border-width: 2px;
    border-color: rgb(154, 154, 154);
    opacity: 0.52;
    left: 857px;
    top: 2542px;
    width: 267px;
    height: 44px;
  }

  .search-field input:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700px;
    color: rgb(50, 50, 50);
    text-align: left;

    border-width: 2px;
    border-color: rgb(211, 211, 210);
    pacity: 0.52;
    left: 857px;
    top: 2606px;
    width: 267px;
    height: 44px;
 }

/*форма входа*/

.enter a {
    position: relative;
    width: 93px
    font-size: 14px;
    line-height: 16px;
}

.enter a:hover,
.enter a:focus {
    background-color: rgb(248, 247, 244);
    background-image: url(/*?*/);
}

.enter a:hover .login-form,
.enter a:focus .login-form {
    border-radius: 6px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 484px;
    top: 748px;
    width: 277px;
    height: 214px;
}

.enter-field input[type="email"],
.enter-field input[type="password"] {
    font-size: 16px;
    line-height: 24px;
    color: rgb(50, 50, 50);
    text-align: left;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 211, 210);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 64px;
    top: 766px;
    width: 313px;
    height: 46px;
}

.enter-field input:hover,
.enter-field input:focus {
    border-width: 2px;
    border-color: rgb(154, 154, 154);
    opacity: 0.52;
    left: 857px;
    top: 2542px;
    width: 267px;
    height: 44px;
  }

.enter-field input:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700px;
    color: rgb(50, 50, 50);
    text-align: left;

    border-width: 2px;
    border-color: rgb(211, 211, 210);
    opacity: 0.52;
    left: 857px;
    top: 2606px;
    width: 267px;
    height: 44px;
}

/*.enter a:hover .login-form placeholder,
.enter a:focus .login-form placeholder {
    font-size: 16px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    text-align: left;
}*/

.enter a::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 20px;
    height: 19px;

    color: rgb(255, 255, 255);

    background-image: url("img\entrance.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.enter a:hover::before,
.enter a:focus::before {
    color: rgb(50; 50; 50);
}

.login-form a {
    font-size: 14px;
    line-height: 16px;
    color: rgb(50, 50, 50)
    text-decoration: underline;
}

.login-form a:hover,
.login-form a:focus {
    color: rgb(232, 77, 55);
}

/*Корзина*/

.basket a {
    position: relative;
    padding-left: 9px;
    width: 117px;

    font-size: 14px;
    line-height: 16px;

    background-color: rgb(157, 177, 165);
    opacity: 0.2;

    background-image: url("img\basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket:focus,
.basket:active {
    color: rgb(50, 50, 50);

    background-color: rgb(248, 247, 244);
    background-image: url("img\basket-red.svg");
}

.basket:focus .basket-table,
.basket:active .basket-table {
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 870px;
    top: 748px;
    width: 539px;
    height: 242px;
}

.basket-table .close {
    background-image: url("img\cross-small.svg");
}

.basket-table .basket-table-item-1 {
    background-image: url("img\bascket-ice-cream-1.png");
}

.basket-table .basket-table-item-2 {
    background-image: url("img\bascket-ice-cream-2.png");
}

.basket-table td {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400px;
    color: rgb(50, 50, 50);
    text-align: left;
}

.basket-table span {
    color: rgb(161, 180, 169)
}

/*разделитель

.basket:focus .basket-table hr,
.basket-active .basket-table hr {
    color: rgb(247, 246, 243);
    position: absolute;
    left: 885px;
    top: 878px;
    width: 510px;
    height: 1px;
}*/

/*телефон и часы работы*/

.basket a::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 20px;

    background-image: url("img\basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket a:hover::before,
.basket a:focus::before {
    background-image: url("img\basket-red.svg");
}

.header-time-phone-wrapper {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    width: 267px;
    margin: 0;
    padding: 0;

    min-height: 38px;
}

.header-time-phone span {
    font-size: 22px;
    line-height: 24px;
}

/*слайдер, пока не доделала*/

.promo {
    font-weight: 700px;
    text-align: center;

    background-image: url("img\index-images\ice-cream-big.jpg");
}

.slides-switches {
    border-radius: 50%;
    width: 21px;
    height: 21px;

    border-color: rgb(255, 255, 255);
    background-color: rgb(132, 157, 143);
    cursor: pointer;
}

.slides-switches:nth-child(1) {
    background-color: rgb(255, 255, 255);
}

.slides-switches:nth-child(1):hover,
.slides-switches:nth-child(1):focus {
    background-color: rgb(255, 255, 255);
}

.slides-switches:nth-child(2):hover,
.slides-switches:nth-child(2):focus {
    background-color: rgb(178, 193, 183);
}

.slides-switches:nth-child(2):active {
    background-color: rgb(255, 255, 255);
}

.promo p {
    font-size: 60px;
    line-height: 60,35px;
    text-aligh: center;
}

.promo a {
    font-size: 32px;
    line-height: 44px;
    color: rgb(255, 255, 255);

    left: 460px;
    top: 542px;
    width: 280px;
    height: 64px;
}

/*малинки-шоколадки*/

.action-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    font-weight: 700px;
}

.action-item h2 {
    font-size: 35px;
    line-height: 41px;
}

.action-item p {
    font-size: 18px;
    line-height: 22px;
}

.action-item a {
    font-size: 18px;
    line-height: 22px;

    left: 401px;
    top: 807px;
    width: 165px;
    height: 46px;
}

.action-item-raspberry,
.action-item-chocolate {
    width: 560px;
    padding-top: 19px;
    padding-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;

    min-height: 229px;
}

.action-item-raspberry {
    background-color: rgb(145, 1, 29);
    background-image: url("img\raspberry.png");
}

.action-item-chocolate {
    background-color: rgb(93, 48, 25)
    background-image: url("img\chocolate.png");
}

/*мороженое, хиты*/

.hit-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.hit-item {
    postioin: relative;
    width: 267px;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 322px;
}

.hit-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700px;
    text-align: left;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

    background-image: url("img\ruble.svg");
}

.hit-item-price span {
    font-size: 30px;
}

.hit-items a {
    font-size: 16px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: underline;
}

.hit-items:hover,
.hit-items:focus {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 398px;
    top: 1750px;
    width: 221px;
    height: 366px;
}

.hit-items:hover button,
.hit-items:focus button {
    position: absolute;
    left: 412px;
    top: 2055px;
    width: 193px;
    height: 44px;
}

/*вафля*/

.production {
    display: flex;
    flex-direction: column;

    width: 1146px;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    list-style: none;

    min-height: 306px;

    align-items: center;
    color: rgb(50, 50, 50);
    text-align: left;
    font-weight: 400px;

    background-image: url("img\waffle.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.production .lead {
    width: 1100px;
    min-height: 83px;
    margin-top: 27px;
    margin-bottom: 7px;
    margin-left: 21px;

    font-size: 24;
    line-height: 30;
}

.production-columns {
    display: flex;
    justify-content: space-between;
}

.production-column-left {
    width: 540px;
    min-height: 250px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-bottom: 22px;

    list-style: none;

    min-height: 250px;
}

.production-item-top-left {
    position: relative;
}

.production-item-top-left::before {
    content: "";

    position: absolute;
    right: 57px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img\ice-cream.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.production-item-bottom-left {
    position: relative;
}

.production-item-bottom-left::before {
    content: "";

    position: absolute;

    right: 57px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img\eco.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.production-column-right {
    width: 560px;
    min-height: 250px;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 250px;
}

.production-item-top-right {
    position: relative;
}

.production-item-top-right::before {
    content: "";

    position: absolute;
    right: 57px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img\cow.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.production-item-bottom-right {
    position: relative;
}

.production-item-bottom-right::before {
    content: "";

    position: absolute;

    right: 57px;
    top: -14px;

    width: 49px;
    height: 49px;

    background-image: url("img\thermometer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*новости блога*/

.aside {
    color: rgb(50, 50, 50);
}

.news {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.blog-news,
.subscription {
    width: 560px;
    min-height: 220px;
}

.blog-news {
    background-color: rgb(255, 255, 255);
    background-image: url("img\index-images\strawberry.png");
    background-position: left center;
    background-repeat: no-repeat;
}

.blog-news h2 {
    font-size: 16px;
    line-height: 22px;
}

.blog-news a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700px;
    text-decoration: underline;
}

.blog-news a:hover,
.blog-news a:focus {
    color: rgb(232, 77, 55);
}

/*подписка*/

.subscription {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400px;

    background-image: rgb(255, 255, 255), url("img\bg-post.svg");
    background-blend-mode: 400px;
    background-color: rgb(248, 247, 244);
    background-position: right center;
}

.subscription input {
    font-size: 16px;
    line-height: 24px;
    color: rgb(153, 153, 153);
    font-weight: 400px;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.52;
    left: 637px;
    top: 1758px;
    width: 370px;
    height: 46px;
}

.subscription input:hover {
    border-width: 2px;
    border-color: rgb(154, 154, 154);
    left: 857px;
    top: 2542px;
    width: 267px;
    height: 44px;
}

.subscription input: focus;
.subscription input: active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700px;
    color: rgb(50, 50, 50);
    text-align: left;

    border-width: 2px;
    border-color: rgb(46, 136, 228);
    left: 857px;
    top: 2606px;
    width: 267px;
    height: 44px;
}

.subscription button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700px;

    left: 1018px;
    top: 1759px;
    width: 129px;
    height: 44px;
}

/*карта и контакты*/

.location {
    display: flex;
    justify-content: space-between;
    padding-left: 266px;
    padding-right: 27px;
    width: 1200px;
    min-height: 430px;

    color: rgb(50, 50, 50);

    background-color: rgb(247, 241, 217);
    background-image: url("img\map.png");
    background-repeat: no-repeat;
}

.location-map {
    background-image: url("img\svg-gllacy\svg-gllacy\pin.svg"), url("img\index-images\map.png");
    background-blend-mode: 400px;
}

.pin {
    width: 80px;
    height: 140px;
    margin-bottom: 151px;
}

.location-contacts {
    width: 302px;
    min-height: 305px;
    margin-bottom: 62px;
}

.location p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400px;
    color: url(50, 50, 50);
}

.location span {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700px;
}

.location button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700px;

    position: relative;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    left: 896px;
    top: 2176px;
    width: 252px;
    height: 44px;
}

/*форма обратной связи*/

.location a:active .feedback {
    background-color: rgb(248, 247, 244);

    border-radius: 10px;
    background-color: rgb(248, 247, 244);
    position: absolute;
    left: 363px;
    top: 337px;
    width: 478px;
    height: 443px;
}

.feedback h2 {
    font-size: 24px;
    line-height: 28px;
    color: rgb(50, 50, 50);
}

.feedback .input {
    font-size: 16px;
    line-height: 24px;
    color: rgb(153, 153, 153);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(178, 178, 178);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    left: 857px;
    top: 2478px;
    width: 269px;
    height: 46px;
}

.feedback input:hover,
.feedback input:focus {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700px;
    color: rgb(50, 50, 50);

    border-width: 2px;
    border-color: rgb(154, 154, 154);
    top: 2542px;
    width: 267px;
    height: 44px;
}

.feedback input:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700px;
    color: rgb(50, 50, 50);
    text-align: left;
}

.feedback .button {
    left: 677px;
    top: 709px;
    width: 139px;
    height: 44px;
}

/*подвал*/

.page-footer {
    margin: 0;
}

.page-footer .container {
    display: flex;
}

.footer-social {
    width: 267px;
    margin: 0;
    margin-bottom: 36px;
    margin-right: 26px;
    padding: 0;

    list-style: none;

    min-height: 38px;
}

.footer-info {
    width: 560px;
    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    list-style: none;

    min-height: 36px;

    font-size: 13px;
    line-height: 28px;
    font-weight: 400px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.footer-info a:hover,
.footer-info a:focus {
    color: rgb(255, 188, 158);
}

.footer-info span {
    font-weight: 700px;
}

.footer-copyright {
    width: 267px;
    margin: 0;
    margin-bottom: 23px;
    margin-left: 26px;
    padding: 0;

    min-height: 60px;

    font-size: 12px;
    line-height: 18px;
    font-weight: 400px;

    background-image: url("img\logo-htmlacademy.svg");
}

.footer-copyright a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
    color: rgb(255, 188, 158);
}

/*КАТАЛОГ*/

.breadcrumbs {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;

    list-style: none;

    min-height: 19px;

    font-size: 14px;
    line-height: 16px;
    color: rgb(255, 255, 255);
    font-weight: 400px;
    text-decoration: underline;
}

.breadcrumbs-current {
    text-decoration: none;
}

.page-title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    list-style: none;

    min-height: 33px;

    font-size: 35px;
    line-height: 41px;
    font-weight: 700px;
}

/*фильтры*/

.filters {
    width: 879px;
    margin: 0;
    margin-bottom: 40px;

    min-height: 130px;
}

.filter fieldset {
    border: none;
}

.filters label {
    font-size: 14px;
    line-height: 16px;
}

.filter-sorting-options {
    font-size: 16px;
    line-height: 18px;
    text-transform: lowercase;

    background-color: rgb(248, 247, 244);
    opacity: 0.2;
    left: 27px;
    top: 207px;
    width: 194px;
    height: 37px;
    background: url("img\select-arrow.svg");
}

.filter-sorting-options:hover,
.filter-sorting-options:focus {
    color: rgb(50, 50, 50);
}

.filter-price {
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    position: absolute;
    left: 235px;
    top: 207px;
    width: 220px;
    height: 37px;
}

/*Эта штука пока совсем непонятна*/
.filter-price button:hover {
    cursor: pointer;
    background-image: url("img\filter-button.svg");
}

.filter-fatness {
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    left: 469px;
    top: 207px;
    width: 415px;
    height: 37px;
    list-style: none;
}

.filter-input-radio + label {
    background-image: url("img\radio-off.svg");
}

.filter-input-radio:active {
    background-image: url("img\radio-on.svg");
}

/*?*/
.filter-input-radio:disabled {
    color: rgb(144, 156, 154);
}

.filter-filler {
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    left: 27px;
    top: 281px;
    width: 703px;
    height: 37px;
    list-style: none;
}

.filter-input-checkbox + label {
    background-image: url("img\checkbox-off.svg");
}

.filter-input-checkbox:active {
    background-image: url("img\checkbox-on.svg");
}

/*?*/
.filter-input-checkbox:disabled {
    color: rgb(144, 156, 154);
}

.filter-button {
    font-size: 16px;
    line-height: 18px;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.188);
    left: 741px;
    top: 279px;
    width: 144px;
    height: 37px;
}

.filter-button:hover,
.filter-button:focus {
  color: rgb(50, 50, 50);

  background-color: rgb(255, 255, 255);
  border: none;
}

.filter-button:active {
   background-color: rgb(234, 234, 234);
   box-shadow: inset;
}

/*Товары*/

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 79px;
    padding: 0;

    list-style: none;

    min-height: 1048px;
}

.catalog-item {
    position: relative;

    width: 267px;
    margin-bottom: 37px;
    margin-right: 26px;

    min-height: 322px;
}

.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item:hover,
.catalog-item:focus {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 398px;
    top: 1750px;
    width: 221px;
    height: 366px;
}

.catalog-item-price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700px;
    text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);

    background-image: url("img\ruble.svg");
}

.catalog-item-price span {
    font-size: 30px;
}

.catalog-list a {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700px;
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: underline;
}

.catalog-list a:hover,
.catalog-list a:focus {
    color: rgb(255, 188, 158);
}

.pagination-list {
    min-width: 190px;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 27px;
    font-size: 16px;
    line-height: 18px;
    color: rgb(255, 255, 255);
}

.pagination-list:hover,
.pagination-list:focus {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    opacity: 0.2;
    left: 1123px;
    top: 2320px;
    width: 27px;
    height: 26px;
    cursor: pointer;
}

.pagination-item-current {
    color: rgb(50, 50, 50);

    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 1065px;
    top: 2267px;
    width: 27px;
    height: 26px;
}

/*разделитель
.page-footer hr {
    background-color: rgb(255, 255, 255);
    opacity: 0.302;
    left: 27px;
    top: 1542px;
    width: 1146px;
    height: 1px;
}*/

.inner-page .page-footer {
    margin-top: 30px;
}
